
:root {

    /* Primary color shades */
    --md-primary-fg-color: #6610f2;
    --strong_text_color:  #6610f2;
}

* {
    
    font-family: Montserrat Light,sans-serif;
}

.md-header {
    background-color: var(--md-primary-fg-color);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
